# Node.js / Yarn / TypeScript
**/node_modules/
**/dist/
**/logs/
*.log
package-lock.json
yarn-error.log

# Docker
docker-compose.override.yml
*.local.yml
.docker/

# Logs da aplicação
*.log

# Nginx temporário
frontend/nginx.conf~

# Sistemas operacionais
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# IDEs e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos temporários e de build
coverage/
*.tgz
*.gz
*.zip
*.bak
*.swp
*.tmp

# Git conflitos e backups
*.orig
