# Ignora dependências
node_modules/

# Ignora arquivos de build do TypeScript
dist/

# Ignora arquivos de log
logs/
*.log

# Ignora arquivos de ambiente
.env
.env.*

# Ignora configurações locais
.vscode/
.DS_Store
