
# Node / Yarn / TypeScript

**/node_modules/
**/dist/
**/logs/
*.log


package-lock.json


# Docker
docker-compose.override.yml
*.local.yml
.docker/

# Nginx (frontend)
frontend/nginx.conf~


# Sistemas operacionais

Thumbs.db
ehthumbs.db
Icon?
Desktop.ini


# IDEs / editores

.vscode/
.idea/
*.sublime-project
*.sublime-workspace


# Build temporários ou arquivos de CI

coverage/
*.tgz
*.gz
*.zip
*.bak
*.swp
*.tmp

# Git

*.orig
